<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->
    <meta charset="UTF-8">
    <style>tr:hover {background-color:#16E80B;}</style>
    <title>Mesums</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" ></head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" justify-content-center>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" justify-content-center>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Building
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/museum">Museum</a>
                        <a  class="dropdown-item" href="/wikihospitals">Hospital</a>
                        <a  class="dropdown-item" href="/wikihospitals">wiki data Hospital</a>
                        <a  class="dropdown-item" href="/Local-Hopital-Data">Local Hospitals</a>
                        <a  class="dropdown-item" href="/Map.html">Hospitals Wiki Map</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bike Station
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a  class="dropdown-item" href="/StEtienne-bike-staion">ST-Etienne</a>
                        <a class="dropdown-item"  href="/Lyon-bike-station">Lyon</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<br>
<table align="center" border="3" class="table">
    <thead class="thead-light">
    <tr>
        <th>Museum Name</th>
        <th>Museum Description</th>
        <th>Address</th>
        <th>City</th>
<!--        <th>latitude</th>-->
<!--        <th>langitude</th>-->
        <th width="100%" style="text-align:center">Map Location</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="museum : ${museums}">
        <td th:text="${museum.museumLabel}"></td>
        <td th:text="${museum.museumDescription}"></td>
        <td th:text="${museum.villeIdLabel}"></td>
        <td th:text="${museum.ville}"></td>
<!--        <td th:text="${museum.lat}"></td>-->
<!--        <td th:text="${museum.lon}"></td>-->


        <td> <iframe width="100%" height="100%" frameborder="2" scrolling="no" marginheight="0" marginwidth="0" th:src="@{'https://maps.google.com/maps?width=100%25&amp;height=300&amp;hl=en&amp;q='+ ${museum.lat} +','+ ${museum.lon} +'+('+ ${museum.museumLabel} +')&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed'}"></iframe></td>

    </tr>
    </tbody>

</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>